img {
    max-width: 100%;
    max-height: 100%;
    display: inline-block;
}

body {
    font-size: 100%;
    margin: 50px;
    background-color: #5d5d5d;
}

.wrapper {
    border: 49px solid #462921;
    width: 640px;
    margin: 0 auto;
    display: grid;
    grid-gap: 0;
    grid-template-columns: 40px repeat(8, 70px) 40px;
    grid-template-rows: 40px repeat(8, 70px) 40px;
    grid-auto-flow: row;
    grid-auto-flow: column;
}

.wrapper-inner {
    display: grid;
    grid-gap: 0;
    grid-template-columns: 40px repeat(8, auto) 40px;
    grid-template-rows: auto;
    grid-auto-flow: row;
    align-items: strech;
}

.wrapper-side {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: repeat(8, auto);
    grid-auto-flow: column;
    align-items: strech;
}

.box {
    padding: 21px;
    font-size: 150%;
    background-color: #b5915f;
    color: #000;
    text-align: center;
}

.box-side {
    text-align: center;
    align-self: center;
}

.box-inner {
    text-align: center;
    align-self: center;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 0px;
    padding-top: 0px;
}

.right_side,
.left_side,
.top,
.bottom {
    display: grid;
    align-items: stretch;
    background-color: #7d694c;
}

.left_side {
    grid-column-start: 0;
    grid-column-end: 0;
    grid-row-start: 2;
    grid-row-end: 10;
}

.right_side {
    grid-column-start: 10;
    grid-column-end: 11;
    grid-row-start: 2;
    grid-row-end: 10;
}

.top {
    grid-column-start: 1;
    grid-column-end: 11;
    grid-row-start: 0;
    grid-row-end: 0;
}

.bottom {
    grid-column-start: 1;
    grid-column-end: 11;
    grid-row-start: 10;
    grid-row-end: 10;
}

.box:nth-child(-2n+10),
.box:nth-child(9)~div:nth-child(-2n+17),
.box:nth-child(18)~div:nth-child(-2n+26),
.box:nth-child(26)~div:nth-child(-2n+33),
.box:nth-child(34)~div:nth-child(-2n+42),
.box:nth-child(42)~div:nth-child(-2n+49),
.box:nth-child(50)~div:nth-child(-2n+58),
.box:nth-child(58)~div:nth-child(-2n+65) {
    background-color: #441a03;
    color: #fff;
}

.red_class {
    background-color: red;
}

.blue_class {
    background-color: blue;
}
