{% extends 'main.html' %} {% block head %}
<title>"Queen's Gambit" Chess</title>
{% endblock %} {% block body %}

<div class="row justify-content-center">
    <div class="col-md-3">
        <br>
        <br>
        <br>
        <a class="btn btn-primary" href="/create_lobby" role="button"> Create lobby &raquo;</a>
        <br>
        <a class="btn btn-primary" href="/join_lobby" role="button"> Join lobby &raquo;</a>
        <br>
        <a class="btn btn-primary" href="/lobbies" role="button"> Avaliable lobbies &raquo;</a>
        <br>
        <a class="btn btn-primary" href="/replays" role="button"> Avaliable replays &raquo;</a>
    </div>
</div>

{% endblock %}