{% extends 'base.html' %} {% block title %} Title page 1 {% endblock %} {% block head %}
<!DOCTYPE html>
<html lang="en">

<head>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/temp.css') }}">

    <meta charset="UTF-8">
    <title>Chess</title>

    <script src="{{url_for('static', filename='js/board.js')}}" async defer></script>

</head>

<body>

    <div class="wrapper">
        <div class="top">
            <div class="wrapper-inner">
                <div class="box-inner"></div>
                <div class="box-inner">A</div>
                <div class="box-inner">B</div>
                <div class="box-inner">C</div>
                <div class="box-inner">D</div>
                <div class="box-inner">E</div>
                <div class="box-inner">F</div>
                <div class="box-inner">G</div>
                <div class="box-inner">H</div>
                <div class="box-inner"></div>
            </div>
        </div>

        <div class="left_side">
            <div class="wrapper-side">
                <div class="box-side">8</div>
                <div class="box-side">7</div>
                <div class="box-side">6</div>
                <div class="box-side">5</div>
                <div class="box-side">4</div>
                <div class="box-side">3</div>
                <div class="box-side">2</div>
                <div class="box-side">1</div>
            </div>
        </div>

        {%for i in range(0, 8)%} {%for j in range(0, 8)%} {%if board[j][i] != 0%}
        <div class="box" id="grid_box_{{13*i+j}}" ondrop="drop(event)" ondragover="allowDrop(event)"><img id="chess_image_{{13*i+j}}" class="piece" draggable="ture" ondragstart="drag(event)" src="{{url_for('static', filename='/pictures/' + images[board[j][i]] + '.svg')}}" /></div>
        {%else%}
        <div class="box" id="grid_box_{{13*i+j}}" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
        {%endif%} {%endfor%} {%endfor%}

        <div class="right_side">
            <div class="box-side">8</div>
            <div class="box-side">7</div>
            <div class="box-side">6</div>
            <div class="box-side">5</div>
            <div class="box-side">4</div>
            <div class="box-side">3</div>
            <div class="box-side">2</div>
            <div class="box-side">1</div>
        </div>

        <div class="bottom">
            <div class="wrapper-inner">
                <div class="box-inner"></div>
                <div class="box-inner">A</div>
                <div class="box-inner">B</div>
                <div class="box-inner">C</div>
                <div class="box-inner">D</div>
                <div class="box-inner">E</div>
                <div class="box-inner">F</div>
                <div class="box-inner">G</div>
                <div class="box-inner">H</div>
                <div class="box-inner"></div>
            </div>
        </div>

    </div>
</body>

</html>
{% endblock %} {% block body %} {% endblock %}