{% extends 'main.html' %}

{% block head %}
    <title>Join a lobby</title>
{% endblock %}

{% block body %}
<div class="row justify-content-center">
    <div class="col-md-3">
        <h1>Enter code</h1>
        <form method="POST" action="/join_lobby">
            <div class="form-group">
                <label for="exampleInputUsername">Your code</label>
                <input type="text" name="code" class="form-control" placeholder="code" required />
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>

    </div>
</div>
{% endblock %}